<h1>Cambiar contraseña</h1>
<p>Si no haz solicitado el cambio de la contraseña en nuestra plataforma, haz caso omiso a este mensaje</p>
<p>Hola {{ user }}, haz solicitado cambiar la contraseña, <a href='{{ url }}'>clic aquí</a> para cambiar tu contraseña.</p>
<p>Si el enlace no te abre, copia y pega el siguiente link: {{ url }}</p>
<small>Este mensaje ha sido generado automaticamente, por favor no responder.</small>